.table-wrapper
  margin-top: 10px;
  &> table
    border-collapse: collapse;  
    text-align: center;  
    & > tbody
      & > tr:nth-child(odd)
        background: #fff;  
      & > tr:nth-child(even) 
        background: #F5FAFA;
      & > tr
        & > td
          width: 30px;
          height: 14px;
          border: 1px solid #cad9ea;  
          color: #666;  
          height: 30px;  